@font-face{
	font-family: 'Mont';
	src: url('../font/Montserrat-Medium.ttf');
}
*{
	font-family: Mont;
}
.collapse > ul > li > a{
	margin-left: 40px;
}

.label {
	width: 70px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
}
.about{
	padding-bottom: 50px
}
.full{
	width: 100%;
	height: 100%;
}
.about {
	font-size: 13px;
}
.about, .btn {
	font-size: 13px;
}
h3{text-align: center;}
.footer
{
	margin-top: 80px;
	padding-top: 20px;
	text-align: center;
}
.card-text{
	font-size: 13px;
}
.animate__fadeInLeft{
	animation-duration: 3000ms
}
.animate__fadeInRight{
	animation-duration: 3000ms
}